body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: aquamarine;
}
.container {
  margin: 100px auto;
  width: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
}
select,
input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.right-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
